body{
    background-color: darkkhaki;
    height: fit-content;
}

header{
    color: cornsilk;
    text-align: center;
    text-transform: uppercase;
    padding: 20px;
    background-color:darkseagreen;
    margin-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
}

.table{
    margin-left: 10px;
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
}

.first {
    font-size: xx-large;
    font-weight: 800;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.second {
    font-style: italic;
}

form{
    margin-bottom: 25px;
}

input{
    padding: 10px;
    background-color: darksalmon;
    border: 2px solid black;
    border-radius: 10px;
}

input[type="submit"]{
width: 15%;
}

.rear{
    height: 100vh;
}

.place {
    font-size: larger;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
    width: 300px;
    list-style: decimal;
    padding: 15px;
}

.place:hover{
    cursor: pointer;
    background-color: chocolate;
}

em{
    font-weight: 800;
}

#hotel-details {
  margin-top: 50px;
  position: absolute;
  left: 35%;
  top: 40%;
}

img {
    width: 700px;
    height: 500px;
}

.last{
    text-align: center;
    background-color: lightgoldenrodyellow;
    padding: 10px;
}